# NOTE: X509 token examples below require matching certificate files in ./users/
# Expected demo files:
#   ./users/HMI.der
#   ./users/apc_engine.der
#   ./users/virtual_plant.der
application_name: AuTHRity_OPC_UA_Server
application_uri: authrity:opcua-server
product_uri: authrity:opcua-server
create_sample_keypair: true
certificate_path: own/cert.der
private_key_path: private/private.pem
certificate_validation:
  trust_client_certs: true
  check_time: false
pki_dir: ./pki
tcp_config:
  hello_timeout: 5
  host: localhost
  port: 4855
limits:
  clients_can_modify_address_space: false
  max_subscriptions: 100
  max_monitored_items_per_sub: 1000
  max_monitored_item_queue_size: 10
  max_array_length: 1000
  max_string_length: 65535
  max_byte_string_length: 65535
  min_sampling_interval: 0.1
  min_publishing_interval: 0.1
locale_ids:
- en
user_tokens:
  hmi:
    user: hmi
    pass: password
  hmi_x509:
    user: hmi
    x509: ./users/HMI.der
  apc_engine:
    user: apc_engine
    pass: password
  apc_engine_x509:
    user: apc_engine
    x509: ./users/apc_engine.der
  virtual_plant:
    user: virtual_plant
    pass: password
  virtual_plant_x509:
    user: virtual_plant
    x509: ./users/virtual_plant.der
discovery_urls:
- opc.tcp://localhost:4855/
default_endpoint: basic256sha256_sign_encrypt
endpoints:
  basic256sha256_sign_encrypt:
    path: /
    security_policy: Basic256Sha256
    security_mode: SignAndEncrypt
    security_level: 14
    user_token_ids:
    - hmi
    - apc_engine
    - virtual_plant
    - hmi_x509
    - apc_engine_x509
    - virtual_plant_x509
  none:
    path: /anon
    security_policy: None
    security_mode: None
    security_level: 1
    user_token_ids:
    - ANONYMOUS